*.o
*.log
*.di
*.fc
*.aml
*.tag
*.img
*.dic
*.dep
*.version
*.a
*.bin
builton.fth
*.rom
*.elf
tags
*~
headers
*.md5
*.public
*.lo
*.core
TAGS
cpu/arm/beagle/build/build
cpu/arm/versatilepb/build/build
cpu/x86/pc/emu/build/build
